<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcb.exam.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gcb.exam.entity.Goods">
        <id column="id" property="id" />
        <result column="goodsName" property="goodsName" />
        <result column="goodsPrice" property="goodsPrice" />
        <result column="goodsStatus" property="goodsStatus" />
        <result column="cid" property="cid" />
        <result column="goodsType" property="goodsType" />
        <result column="goodsCreateTime" property="goodsCreateTime" />
        <result column="goodsCreatePeople" property="goodsCreatePeople" />
        <result column="goodsEditTime" property="goodsEditTime" />
        <result column="goodsEditPeople" property="goodsEditPeople" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goodsName, goodsPrice, goodsStatus, cid, goodsType, goodsCreateTime, goodsCreatePeople, goodsEditTime, goodsEditPeople
    </sql>

</mapper>
