<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcb.test.mapper.CouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gcb.test.entity.Coupon">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="sid" property="sid"/>
        <result column="denomination" property="denomination"/>
        <result column="getStatus" property="getStatus"/>
        <result column="limitEd" property="limitEd"/>
        <result column="OrderStatus" property="OrderStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, sid, denomination, getStatus, limitEd, OrderStatus
    </sql>

    <select id="selectVipUserByUid"  resultType="com.gcb.test.entity.Coupon">
 select  * from t_coupon c , t_vipuser u WHERE c.uid=u.id and uid=#{uid}
    </select>

</mapper>
